main {
  width: 375px;
  font-family: 'PT Sans Caption', sans-serif;
  margin: auto;
}

header, footer {
  background-color: 267f34;
  color: #fff;
  padding: 10px;
}

header div {
  background-color: white;
  display: inline-block;
}

.status-bar{
  width: 350px;
}

.back {
  color: #267f34;
  font-weight: bold;
  width: 86%;
  margin-bottom: -5px;
}

.location {
  text-align: center;
  font-size: 17px;
  margin-left: 29px;
  width: 50%;
  color: #267f34;
  font-weight: bold;
}

li {
 display: flex;
 margin-left: 15px;
 width: 100%;
 height: 10%;
}

.info {
  float: right;
  margin-right: 1px;
}

.listheader {
  height: 29px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #DADADA;
  display: inline-flex;
  padding: 1% 0 1% 0;
  color: #8E8E93;
  font-weight: bold;
  width: 100%;
  font-size: 15px;

}

span {
  display: flex;
}

.stops-list {
  display: flex;
  border-bottom: 1px solid #DADADA;
  height: 73px;
  margin-bottom: 8PX;

}

.refresh {
  width: 18px;
  margin-left: 30px;
  align-items: right;
  padding:10px 0 0 30px;
}

.stop-info {
  display: flex;
  align-items: left;
  text-align: left;
  font-weight: bold;
  color: #8E8E93;
  height: 36px;
  width: 75%;
  flex-direction: column;
  margin-top:13px;


}

.min {
  font-size: 15px;
  padding-bottom: 10%;
  margin-top: -10px;
  align-items: baseline;


}

.Route {
  align-items: center;
  text-align: left;
  font-weight: bold;
  color: #8E8E93;
  width:88px;
  margin-left: -15px;
  margin: 9px 0 8px -15px;
  height: 15px;

}

.destination  {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #8E8E93;
  margin:  9px 35px 8px 0;
  position: relative;
  height:15px;
  

}

.resume-service {
  font-size: 15px;
  display: flex;
  font-weight: bold;
  color: #8E8E93;
  width: 25%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  height: 36px;
  margin-top: 11px;


}

.resume-time{
  font-size: 15px;
  padding-bottom: 8%;
  margin-top: -5px;

}

.hrs{
  font-size: 15px;
  margin-top: -13px;


}

.time {
  display: inline-block;
  align-items: center;
  text-align: right;
  font-weight: bold;
  color: #8E8E93;
  Width: 88px;
  margin: 9px 20px 8px 15px;
  height: 12px;
  float: right;

}

.eta {
  font-size: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #8E8E93;
  width: 25%;
  vertical-align: text-bottom;
  margin-bottom: 1%;
  height: 36px;
  position: relative;
  margin-top: 14px;


}

 .stop-badge {
   font-size: 32px;
   display: flex;
   align-items: left;
   text-align: left;
   font-weight: bold;
   color: #8E8E93;
   width: 45%;
   align-items: flex-start;
   position: relative;
   height: 36px;
   margin-top: 15px;


}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 60%;
    border-bottom: #000000;
}
